# latex support file extensions
*.eps
*.toc
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.synctex(busy)
*.out
*.acn
*.glo
*.ist
*.lof
*.lot

listOfAcronyms.txt

# partially completed version of the thesis
# main_*.pdf
# main-*.pdf
main *.pdf

#unused images
images/notUsed/
